.cover {
    position: relative;
}

.cover__background {
    width: 100%;
    height: auto;
}

.cover__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}

.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 288px;
}

.cover::after {
    background: #2A2C2F;
    opacity: .3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s ease;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        margin-bottom: 32px;
    }

    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
    }
}