.place {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 66px;
}

.place__image {
    max-width: 100%;
}

.place__website,
.place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
}

.place__title {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 35px;
}

.place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;

}

.place__link:hover {
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .place {
        gap: 72px;
        padding-bottom: 90px;
    }
    .place__item {
        display: grid;
        grid-template-columns: 340px 1fr;
        padding-left: 24px;
        padding-right: 24px;
        grid-row-gap: 48px;
        grid-column-gap: 28px;
    }

    .place__website,
    .place__paragraph {
        padding-left: 0;
        padding-right: 0;
    }

    .place__title {
        font-size: 42px;
        line-height: 46px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .place__website {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        gap: 80px;
        padding-bottom: 92px;
    }
    .place__item {
        grid-template-columns: 440px 1fr;
        padding-left: 48px;
        padding-right: 48px;
        grid-column-gap: 32px;
    }

    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media screen and (min-width: 1280px) {
    .place__item {
        grid-template-columns: 460px 1fr;
        padding-left: 148px;
        padding-right: 148px;
        grid-column-gap: 40px;
    }
}