@import url(./font.css);
@import url(./container.css);
@import url(./header.css);
@import url(./lead.css);
@import url(./intro.css);
@import url(./place.css);
@import url(./cover.css);
@import url(./footer.css);

body {
    min-width: 320px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63em;
}

.page {
    background-color: #2A2C2F;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}

